# .isort.cfg
[settings]
# --- Black compatibility ---
profile      = black
line_length  = 79

# --- Third-party libraries ---
known_third_party =
    torch
    torchvision
    torchaudio

# --- Paths isort should ignore ---
skip =
    __init__.py

skip_glob =
    test/**
    tests/**
    .venv/**
